/target/
*.class
*.classproperties
*.settings
*.classpath
*.iml
*.log
*.project

.idea/sonarlint/
out/
src/main/java/org/dbpedia/dbtax/utils/
.idea/
src/main/Resources/DB/


DBTaxProject.iml
!/src/main/java/org/dbpedia/dbtax/utils/
!/src/main/java/org/dbpedia/dbtax/database/PNodeDB.java
