/target/
*.class
*.classproperties
*.settings
*.classpath
*.iml
*.log
*.project

.idea/sonarlint/
out/
src/main/java/org/dbpedia/dbtax/utils/
.idea/
src/main/Resources/DB/
scripts.sql
setup.sql

DBTaxProject.iml